<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchRename.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BatchRename.My.MySettings>
            <setting name="ShowSplashscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSubfolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>P_yyyy-MM-dd_HH-mm-ss</value>
            </setting>
            <setting name="UseEXIF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSorting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRenaming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateDuplicate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </BatchRename.My.MySettings>
    </userSettings>
</configuration>